nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(191, 220, 230);
    border-bottom: 1px rgb(142, 147, 148) solid;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 1.4vw;
    font-size: 1.3vw;
    font-family: "Anton", sans-serif;
}
nav a:hover{
    background-color: rgb(208, 223, 228);
    font-weight: 550;
    text-decoration: underline;
}
h1{
    font-family: "Anton", sans-serif;
}